
.seccion_productos{
  margin:auto;
  padding: 5vw;
}

.container_productos{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.nombre-producto-y-carrito {
  display: flex;
}

.carrito-agregar-producto {
  margin-left: 10px;
}

.img-Carrito{
  width: 40px;
}

.img-Carrito:hover{
  transform: scale(1.05,1.2);
  box-shadow: 0.5px 0.5px 1px #D3D3D2;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.container_buttons{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
}

/*container_productos_grilla en grilla */
.container_productos_grilla{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
/* fin container_productos_grilla en grilla*/

.producto{
  background-color: white;
  margin-top: 2.5vw;
}

.producto:hover{
  transform: scale(1.05,1.1);
  box-shadow: 2px 2px 10px #D3D3D2;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.producto img{
  width: 250px;
  padding: 1vw;
}

.producto h3, .producto h4, .producto h5, .producto h6 {
  color: #333;
  font-family: sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 1vw;
}

.producto a {
  text-decoration: none;
}

/*producto_grilla en grilla */

.producto_grilla{
  background-color: white;
  margin-top: 2.5vw;
}

.producto_grilla:hover, .producto:hover {
  transform: scale(1.05,1.1);
  box-shadow: 2px 2px 10px #D3D3D2;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.producto_grilla img{
  width: 250px;
  padding: 1vw;
  margin: auto;
}

.producto_grilla h3, .producto_grilla h4, .producto_grilla h5, .producto_grilla h6 {
  color: #333;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 1vw;
}

.producto_grilla a {
  text-decoration: none;
}

/* fin producto_grilla en grilla*/

/* tabla de Carrito */
.tabla_carrito{
  background: white;
}
.tr_indice{
  background:#007bff;
  color:white;
}

@media (min-width: 780px) {

  .container_productos{
    flex-direction: column;
  }

  .producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-around;
  }

}
