
/* Estándars para pisar el Bootstrap */


p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    line-height: normal;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


/* Footer abajo de todo */


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}


/* El footer, a su vez, está dividido en un footer superior y un footer inferior */

/* Footer superior */


.franja-superior {
  background-color: var(--colorPrimario);
  width: 100%;
}

.footer-superior {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-ubicación, .footer-redes-sociales, .footer-contacto {
  width: 33%;
  padding: 0 15px;
  text-align: center;
}

.footer-ubicación h3, .footer-redes-sociales h3, .footer-contacto h3 {
  font-size: 16px;
}

.footer-ubicación p, .footer-redes-sociales p, .footer-contacto p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-redes-sociales li {
  display: inline;
  padding: 0 5px;
}

.footer-redes-sociales img {
  width: 25px
}


/* Footer inferior */


.franja-inferior {
  background-color: var(--colorSecundario);
  width: 100%;
}

.footer-inferior {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-inferior h6 {
  margin: 0;
  font-weight: normal;
}

.footer-inferior a {
  color: white;
  text-decoration: underline;
}

.footer-copyright, .footer-creditos {
  padding: 0 15px;
}

.footer-copyright {
  border-right: 1px solid white;
}

.footer-creditos {
  border-left: 1px solid white;
}


/* Media queries para que el footer sea RESPONSIVE */


@media (max-width: 991px) {

  .footer-ubicación, .footer-redes-sociales {
    width: 50%;
    margin-bottom: 15px;
  }

  .footer-contacto {
    width: 100%;
  }

}

@media (max-width: 575px) {

  .footer-ubicación, .footer-redes-sociales, .footer-contacto {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-copyright, .footer-creditos {
    width: 100%;
    text-align: center;
  }

  .footer-copyright {
    padding-bottom: 4px;
    border-right: 0;
  }

  .footer-creditos {
    padding-top: 4px;
    border-left: 0;
  }

}
