
.registro-titulos {
  margin: 20px auto 5px;
  border-radius: 5px;
  border: solid 1px #383737;
  width: 80%;
  max-width: 450px;
  padding: 10px;
  background-color: var(--colorPrimario);
  text-align: center;
}

.registro-titulos h1 {
  margin: 0 0 12px;
  color: white;
  font-size: 22px;
}

.registro-titulos h2 {
  margin: 0 0 8px;
  color: white;
  font-size: 20px;
}

.registro-titulos h5 {
  margin: 0 0 5px;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.registro-titulos a {
  margin: 0 0 8px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
}

.registro-formulario {
  margin: 0 auto 20px;
  border-radius: 5px;
  border: solid 1px #383737;
  width: 80%;
  max-width: 450px;
  padding: 12px;
  background-color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.registro-container-campos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.registro-nombre-y-campo {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.registro-nombre {
  width: 40%;
  margin: 5px;
}

.registro-campo {
  width: 50%;
  margin: 5px;
}

.registro-recordar {
  width: 100%;
  margin-bottom: 7px;
  text-align: center;
}

.registro-olvide {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 2px;
  text-align: center;
}

.registro-campo input {
  padding: 5px;
  width: 100%;
}

.registro-campo input.seleccionar-archivo {
  padding: 0;
  margin: 0;
}

.registro-leyenda-archivo {
  width: 180px;
  font-size: 10px;
  margin: 5px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.registro-dropdown {
  padding: 5px;
}

.registro-borde-error {
  border: solid 1px red;
}

.registro-error {
  font-size: 10px;
  color: red;
  margin: 0;
}

.registro-error-js {
  font-size: 10px;
  color: red;
  margin: 0;
}

.registro-buttons {
  width: 70%;
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.registro-button {
  margin-top: 10px;
  border-radius: 5px;
  border: solid 1px black;
  padding: 8px 20px;
  background-color: #18BC9C;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.registro-button:hover {
  background-color: #15A98C;
}

@media (max-width: 600px) {

  .registro-titulos {
    max-width: 350px;
  }

  .registro-formulario {
    max-width: 350px;
  }

  .registro-nombre-y-campo {
    flex-direction: column;
    align-items: center;
  }

  .registro-nombre {
    width: 210px;
  }

  .registro-campo {
    width: 210px;
  }

  .registro-buttons {
    flex-direction: column;
    align-items: center;
  }

}
