
.sideBar {
  float: left;
  max-width: 200px;
  height: 400px;
  background-color: var(--colorPrimario);  /* Verde: #18BC9C Amarillo: #F7EF80 AmarilloML:#fff159 Naranja: #f60  Gris: #EAE8E8 */
  margin-bottom: 20px;
  padding: 50px;
  margin-top: 100px;
}

.sideBar a {
  text-decoration: none;
  color: white;
}

.sideBar li {
  list-style: none;
}
